<footer>
    <div class="f-info" style=" text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;">
        <div class="f-info-socials" style="width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;font-size: 1.2rem;
    margin-right: 2rem;">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand" style="width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;">&copy; WanderLust private limited</div>
        <div class="f-info-links " style=" width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;">
            <a href="/privacy"style="text-decoration: none; color: #222222; ">privacy</a>
            <a href="/terms"style="text-decoration: none; color: #222222;">Terms</a>
        </div>
    </div>
</footer>